exercise1/test1
exercise1/checkect.sh
exercise1/.hello_file
exercise1/.tmp_checkect
exercise1/.filtered_ssh_acceptance_log
exercise1/.tmp_current_file_list_checkect
exercise1/info.sh
exercise1/.living_ssh_sessions
exercise1/.tmp_file
exercise1/sshmonitor.sh
exercise1/.sshmonitor_last_xtime
exercise1/.ssh_acceptance_log
exercise1/.tmp_test_file
exercise1/test.sh
exercise1/.tmp_last_file_list_checkect
exercise1/2
exercise1/.new_created_file_list
exercise2/manhnm_prog02.zip
